In [182]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv("result_all_20180227.csv", sep="|")

In [158]:
df.head()

,Unnamed: 0,FILENAME,YYYYMM,DD,TITLE,MAIN,AUTHOR,DATE,YYYY,MAIN_CNT
0,0,warner-propose-sa-musique-sur-le-site-musicmak...,archives_2008_08,20,Warner propose sa musique sur le site MusicMak...,Le site MusicMakesFriends avait ouvert officie...,Arnaud Devillard,20/08/2008 à 15h50,2008,256
1,1,les-pc-portables-d-acer-a-499-euros-deboulent-...,archives_2008_08,20,Les PC portables d'Acer à 499 euros déboulent ...,C'est la réclame du moment : à la rentrée le p...,NaN,20/08/2008 à 17h45,2008,363
2,2,genies-en-herbe-388053.html,archives_2008_08,20,Génies en herbe,"Ouf, sauvé par le Net ! Avec l'adresse de ce s...",Hervé Cabibbo,20/08/2008 à 07h00,2008,136
3,3,google-peut-se-satisfaire-de-sa-satisfaction-c...,archives_2008_08,20,Google peut se satisfaire de sa satisfaction c...,Google peut se targuer d'un taux de satisfacti...,Arnaud Devillard,20/08/2008 à 11h47,2008,234
4,4,comment-obtenir-le-sp3-sur-cd-pour-windows-xp-...,archives_2008_08,20,Comment obtenir le SP3 sur CD pour Windows XP?,"Officiellement, Microsoft France ne distribue ...",Duval Loic,20/08/2008 à 12h00,2008,304

In [159]:
df_year_main = df[['YYYY','MAIN']]
# Main의 연도별 정리를 위해 col추출

In [160]:
print(df_year_main.head())

   YYYY                                               MAIN
0  2008  Le site MusicMakesFriends avait ouvert officie...
1  2008  C'est la réclame du moment : à la rentrée le p...
2  2008  Ouf, sauvé par le Net ! Avec l'adresse de ce s...
3  2008  Google peut se targuer d'un taux de satisfacti...
4  2008  Officiellement, Microsoft France ne distribue ...

In [161]:
# 연도별 main정리
main_1998 = df_year_main.loc[df_year_main['YYYY'].isin(['1998'])]
main_1999 = df_year_main.loc[df_year_main['YYYY'].isin(['1999'])]
main_2000 = df_year_main.loc[df_year_main['YYYY'].isin(['2000'])]
main_2001 = df_year_main.loc[df_year_main['YYYY'].isin(['2001'])]
main_2002 = df_year_main.loc[df_year_main['YYYY'].isin(['2002'])]
main_2003 = df_year_main.loc[df_year_main['YYYY'].isin(['2003'])]
main_2004 = df_year_main.loc[df_year_main['YYYY'].isin(['2004'])]
main_2005 = df_year_main.loc[df_year_main['YYYY'].isin(['2005'])]
main_2006 = df_year_main.loc[df_year_main['YYYY'].isin(['2006'])]
main_2007 = df_year_main.loc[df_year_main['YYYY'].isin(['2007'])]
main_2008 = df_year_main.loc[df_year_main['YYYY'].isin(['2008'])]
main_2009 = df_year_main.loc[df_year_main['YYYY'].isin(['2009'])]
main_2010 = df_year_main.loc[df_year_main['YYYY'].isin(['2010'])]
main_2011 = df_year_main.loc[df_year_main['YYYY'].isin(['2011'])]
main_2012 = df_year_main.loc[df_year_main['YYYY'].isin(['2012'])]
main_2013 = df_year_main.loc[df_year_main['YYYY'].isin(['2013'])]
main_2014 = df_year_main.loc[df_year_main['YYYY'].isin(['2014'])]
main_2015 = df_year_main.loc[df_year_main['YYYY'].isin(['2015'])]
main_2016 = df_year_main.loc[df_year_main['YYYY'].isin(['2016'])]
main_2017 = df_year_main.loc[df_year_main['YYYY'].isin(['2017'])]
main_2018 = df_year_main.loc[df_year_main['YYYY'].isin(['2018'])]

In [162]:
main_1998.head()

       YYYY                                               MAIN
45118  1998  Les missions principales du SCSSI le conduisen...
61287  1998  LUrec, Unité réseaux du Centre national de rec...
61288  1998  Le Ministère de l'Economie des Finances et de ...
61289  1998  LART inscrit son action dans le cadre de la lo...
61290  1998  Le site web du ministère français de l'Économi...

In [186]:
# 연도별 main 에 담긴 내용만을 txt파일로 만들기
# 우선 1998년만 샘플로! 

f = open("main_1998.txt", 'w')
data = main_1998['MAIN']
f.write(str(data))
f.close()

In [187]:
# 전체 단어 빈도 세기 
# 그냥 한 번 해봄 

import re
import string
frequency = {}
document_text = open('main_1998.txt', 'r')
text_string = document_text.read().lower()
match_pattern = re.findall(r'\b[a-z]{3,15}\b', text_string)
 
for word in match_pattern:
    count = frequency.get(word,0)
    frequency[word] = count + 1
     
frequency_list = frequency.keys()
 
for words in frequency_list:
    print (words, frequency[words])

# ascending=True로 하려면?

les 8
missions 1
principales 1
scssi 1
conduisen 1
lurec 1
centre 2
national 1
rec 1
economie 1
des 9
finances 1
lart 1
inscrit 1
son 1
action 1
dans 3
cadre 1
site 17
web 9
nul 1
nest 1
ignorer 1
loi 1
janvier 1
lafnor 1
agence 1
nor 1
nic 1
france 1
pour 5
mission 1
gestion 1
nom 3
philippe 1
molinier 1
documents 1
mis 1
ligne 1
sur 4
sont 3
component 2
source 2
adresse 2
aux 2
moniteurs 1
com 6
est 10
abord 1
marchand 2
per 1
destockage 1
softgallery 2
propose 5
logiciels 2
win 2
une 7
librairie 1
quatre 1
grandes 1
rubriques 1
regroupent 1
effet 1
boutique 1
elle 1
renferme 1
version 2
drivers 1
myphonebook 1
offre 1
toutes 1
fonctions 1
classiq 1
ces 2
listes 1
par 3
type 2
chapitre 1
tient 1
transtec 1
fabricant 2
unix 1
linux 2
canal 1
telier 1
presque 1
chaque 1
jour 1
service 3
gratuit 1
ressemble 1
fortement 1
monde 1
tiques 1
base 1
librair 1
option 1
offerte 1
gratui 1
offert 1
plus 2
annuai 1
jobs 1
azimut 1
extension 1
internet 1
reilly 1
kingston 1
vient 1
appuyer 1
ouvrages 1
peu 3
particulier 1
outre 1
informati 1
peut 1
guy 1
louis 1
gavet 1
ind 1
payant 1
guide 1
produits 1
bios 1
peuvent 1
fruit 1
initiative 1
cette 1
liste 1
shareware 1
fait 1
partie 1
fonctionne 1
windows 1
portait 1
restricti 1
nombreux 1
optimiser 1
usage 1
met 2
disposition 2
index 1
materiels 1
pilotes 1
moteur 1
reche 1
rappelons 1
principe 1
association 1
francophone 1
utilisateurs 2
online 1
regroupe 1
informat 1
anglais 1
destin 1
cyberworkers 1
rassemble 1
part 1
professionnels 1
logiciel 1
afuu 1
leur 1
ensemble 1
sait 1
giants 2
prochain 2
mdk 2
ont 1
shiny 1
entertai 1
jeu 1
auteurs 1
vie 1
permet 1
gratuitemen 1
rappelez 1
vous 1
micros 1
name 1
main 1
length 1
dtype 1
object 1

In [188]:
#리스트 불러오기
list = pd.read_csv("word_list_franceterme.csv", sep="|")
print(list.head())

  Unnamed: 0                                       0
0          0                        abonné itinérant
1          1                                   accès
2          2                          accès hertzien
3          3                          accès multiple
4          4  accès multiple par répartition en code

In [189]:
list.columns = ['#', 'WORD']

In [190]:
list.head()

   #                                    WORD
0  0                        abonné itinérant
1  1                                   accès
2  2                          accès hertzien
3  3                          accès multiple
4  4  accès multiple par répartition en code

In [197]:
# 단어 리스트를 list 형태로 만들기 
list_word = list['WORD']
type(list_word)
nlist = list_word.tolist()

In [225]:
from collections import Counter
import re
import string

In [211]:
document_text = open('main_1998.txt', 'r')
text_string = document_text.read().lower()

In [232]:
# 뭔가 단어별 인식이 안되어있는 듯
d = nlist
frequency = {}

for word in text_string :
    count = frequency.get(word,0)
    frequency[word] = count + 1
     
frequency_list = frequency.keys()
 
for words in frequency_list:
    print(words, frequency[words])

4 21
5 18
1 75
8 10
  776
l 122
e 343
s 199
m 66
i 188
o 130
n 171
p 80
r 162
c 80
a 135
d 85
u 112
. 192

 61
6 60
2 26
7 11
, 20
t 163
é 44
x 9
è 10
' 19
f 36
9 21
0 20
w 15
b 29
ç 7
g 31
j 5
v 18
( 5
3 57
à 4
h 15
y 15
k 6
q 10
ù 1
@ 2
" 2
- 2
z 2
$ 1
ê 2
: 3

In [224]:

    
for word in text_string:
    if word in d:
        d[word] = d[word]+1
    else:
        d[word] = 0
result = [word, d[word]]
print(result)

TypeError: list indices must be integers or slices, not str

In [212]:
# 단어 수를 세는 함수 만들기 
def words_occurrence(text_string):
    d = nlist
    words= np.split(text_string, '')
    
    for word in words:
        if word in d:
            d[word] = d[word]+1
        else:
            d[word] = 1
    result = [word + ':' + d[word]]
    print(result)

In [ ]:
    result = sorted(d.items(), key=(lambda x:x[1], lambda x: x))
    return result

In [210]:
words_occurrence(text_string)

ValueError: bad axis1 argument to swapaxes

In [ ]:
# 각각의 word count를 셀 컬럼 만들기 
# list['1998_CNT'] =